body{
    background-image: url('frame.png');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-attachment: fixed;
    height: 20em;
    margin-top: 0;
    padding: 0;
    margin-bottom: 10px;
}

a[href="javascript:history.back()"] {
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-decoration: none;
    margin: 40px;
    padding: 20px;
}