a[href="javascript:history.back()"] {
    color: white;
    font-weight: bold;
    font-size: 4em;
    text-decoration: none;
    margin: 40px;
    padding: 20px;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.video-frame{
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 80px auto;
}

iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
}

.frame-overlay{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120%;
    height: 120%;

    transform: translate(-50%, -50%);

    pointer-events: none;

    z-index: 10;
}